body {
background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

}
h1, h2, p {
    color: white;
    text-align: center;
    font-family: "Story Script", sans-serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-family: "Story Script", sans-serif;
}