body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #9b7d6a;
  margin: 0;
  padding: 20px;
}
a{
    display: block;
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
}
h1{
    text-align: center;
    padding: 20px;
    color: #6b3e26;
}
h2{
    text-align: center;
    padding: 10px;
    color: #6b3e26;
}